<div class="show">
   <p class="show-text">Title:<%= @book.title %></p>

   <p class="show-text">Body:<%= @book.body %></p>

   <%= link_to "Edit", edit_book_path%>
   |
   <%= link_to "Back", books_path %>
</div> 